Authentication__OpenIdConnect__Authority=https://soteria.local
Authentication__OpenIdConnect__ClientId=<ClientId>
Authentication__OpenIdConnect__ClientSecret=<ClientSecret>
PegasusApi__BaseAddress=https://pegasusapi.local