OpenIdConnect__Authority=<Authority>
OpenIdConnect__ClientId=<ClientId>
OpenIdConnect__ClientSecret=<ClientSecret>

PegasusApi__BaseAddress=<BaseAddress>

Serilog__WriteTo__Sink__Args__path=<path to log>

DataProtection__KeysPath=<path to data protection keys>
DataProtection__CertificatePath=<path to data protection certificate>
DataProtection__CertificatePassword=<certificate password>