OpenIdConnect__Authority=<Authority>
OpenIdConnect__ClientId=<ClientId>
OpenIdConnect__ClientSecret=<ClientSecret>
PegasusApi__BaseAddress=<BaseAddress>
Serilog__WriteTo__Sink__Args__path=<path to log>