.taurus-app-title {
    font-weight: 500;
    letter-spacing: 0.02rem;
}

.taurus-main-content {
    padding: 1rem;
}

.mud-drawer {
    width: 260px;
}

.mud-drawer-content {
    display: flex;
    flex-direction: column;
}
