.taurus-app-title {
    font-weight: 500;
    letter-spacing: 0.02rem;
}

.mud-drawer-content {
    display: flex;
    flex-direction: column;
}

.taurus-main-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
